<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/Raheem/TestCodeCamp_Programme/Submission/SeleniumWebdriverTests/PageObjectModel_Task/Konga_Project">
        <classes>
            <class name="Konga.KongaTest">
                <methods>
                <include name="testLoginPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>